Repository ajones1923/hcls-ai-factory: changes, and which Codecov flags are due for each by the changed paths.
All: drug-discovery, genomics, rag-chat, landing-page

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  drug-discovery:
    paths:
      - drug-discovery-pipeline/
  genomics:
    paths:
      - genomics-pipeline/
  rag-chat:
    paths:
      - rag-chat-pipeline/
  landing-page:
    paths:
      - landing-page/

Fix 6 demo-blocking issues found during readiness audit
  drug-discovery-pipeline/app/discovery_ui.py
  drug-discovery-pipeline/src/cryoem_evidence.py
  rag-chat-pipeline/Dockerfile
  rag-chat-pipeline/app/chat_ui.py
  rag-chat-pipeline/portal/app/server.py
Due: drug-discovery, rag-chat

Update documentation to match current codebase after dependency bumps
  .env.example
  CHANGELOG.md
  docs/HCLS_AI_FACTORY_DEMO_GUIDE.md
  docs/HCLS_AI_FACTORY_DGX_SPARK_DEPLOYMENT_GUIDE.md
  drug-discovery-pipeline/monitoring/docker-compose.yml
  rag-chat-pipeline/Dockerfile
Due: drug-discovery, rag-chat

Embed YouTube video walkthrough on homepage
  docs/overrides/home.html
  docs/stylesheets/extra.css
Due: none

Apply hero gradient text to video section title and subtitle
  docs/overrides/home.html
  docs/stylesheets/extra.css
Due: none

Remove all remaining Attu references from deployment guide
  docs/HCLS_AI_FACTORY_DGX_SPARK_DEPLOYMENT_GUIDE.md
Due: none

Add YouTube video walkthrough to README
  README.md
Due: none

v1.0.1: Security hardening, dependency fixes, and CI improvements
  .github/workflows/ci.yml
  docs/assets/HCLS AI Factory Open Project Logo (Blue Background).png
  docs/assets/HCLS_AI_Factory_Logo_Prompt.md
  genomics-pipeline/web-portal/app/server.py
  genomics-pipeline/web-portal/requirements.txt
  rag-chat-pipeline/requirements.txt
  rag-chat-pipeline/src/rag_engine.py
Due: genomics, rag-chat

v1.0.2: Fix data consistency across all documentation and code
  COMPREHENSIVE_AUDIT_REPORT.md
  FINAL_AUDIT_REPORT.md
  HCLS_AI_FACTORY_EXECUTIVE_SUMMARY_NARRATIVE.txt
  README.md
  docs/ARCHITECTURE.mmd
  docs/ARCHITECTURE_MINDMAP.md
  docs/COMPLETE_PIPELINE_OVERVIEW.txt
  docs/FINAL_AUDIT_REPORT.md
  docs/HCLS_AI_FACTORY_DEMO_GUIDE.md
  docs/HCLS_AI_FACTORY_DGX_SPARK_DEPLOYMENT_GUIDE.md
  docs/HCLS_AI_FACTORY_EXECUTIVE_BULLETS.md
  docs/HCLS_AI_FACTORY_LEARNING_GUIDE_ADVANCED.md
  docs/HCLS_AI_FACTORY_LEARNING_GUIDE_FOUNDATIONS.md
  docs/HCLS_AI_FACTORY_PROJECT_BIBLE.md
  docs/HCLS_AI_FACTORY_WHITE_PAPER_DGX_SPARK.md
  docs/HCLS_AI_Factory_Architecture_Open.mmd
  docs/HCLS_AI_Factory_MVP_Infographic_Prompt.md
  docs/HCLS_AI_Factory_Mindmap_Open.md
  docs/PIPELINE_REPORT.md
  docs/PRODUCT_DOCUMENTATION.txt
  docs/architecture.md
  docs/diagrams/data-flow.mmd
  docs/diagrams/drug-discovery-pipeline-diagram.mmd
  docs/genomics-pipeline/README.md
  docs/rag-chat-pipeline/README.md
  docs/stage-1-genomics.md
  docs/stage-2-rag.md
  drug-discovery-pipeline/docs/drug-discovery-pipeline-diagram.mmd
  drug-discovery-pipeline/generate_vcp_report.py
  drug-discovery-pipeline/generate_vcp_report_enhanced.py
  genomics-pipeline/README.md
  genomics-pipeline/docs/data-flow.mmd
  rag-chat-pipeline/README.md
Due: drug-discovery, genomics, rag-chat

Release v1.0.3: Cloud NIM support, path updates, documentation refresh
  .env.example
  .gitignore
  CHANGELOG.md
  VERSION
  docs/rag-chat-pipeline/README.md
  docs/stage-3-drug-discovery.md
  drug-discovery-pipeline/.env.example
  hls-orchestrator/nextflow.config
  hls-orchestrator/portal/app.py
  rag-chat-pipeline/README.md
Due: drug-discovery, rag-chat

Fix CI: exclude cyvcf2/pysam/pynvml from rag-chat test deps, add loguru
  .github/workflows/ci.yml
Due: none

Fix CI: add all critical pure-Python deps to rag-chat extra_deps
  .github/workflows/ci.yml
Due: none

Add version indicator and changelog page to docs site
  docs/changelog.md
  docs/overrides/main.html
  mkdocs.yml
Due: none

Add version badge to landing page hero
  docs/overrides/home.html
Due: none

Add CAR-T Intelligence Agent section to public site
  docs/cart-intelligence-agent/design.md
  docs/cart-intelligence-agent/index.md
  docs/cart-intelligence-agent/infographic-prompt.md
  mkdocs.yml
Due: none

Remove infographic prompt page from public site
  docs/cart-intelligence-agent/infographic-prompt.md
  mkdocs.yml
Due: none

Sync CAR-T README: add infographic, trim credits
  docs/cart-intelligence-agent/CAR-T Intelligence Agent DGX Spark Infographic.png
  docs/cart-intelligence-agent/index.md
Due: none

Add Imaging Intelligence Agent section to public site
  docs/imaging-intelligence-agent/index.md
  docs/imaging-intelligence-agent/project-bible.md
  mkdocs.yml
Due: none

Add CAR-T Project Bible to public site
  docs/cart-intelligence-agent/project-bible.md
  mkdocs.yml
Due: none

Add Imaging Intelligence Agent Design Document
  docs/imaging-intelligence-agent/design.md
  mkdocs.yml
Due: none

Sync CAR-T Design.md: report export is Phase 6 Complete
  docs/cart-intelligence-agent/design.md
Due: none
